################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AspNetMvcDotNetFramework/.vs/AspNetMvcDotNetFramework/v16/Server/sqlite3/db.lock
/ReturningResults/.vs/ReturningResults/v16/Server/sqlite3/db.lock
/MethodsSelectorsAndAttributes/.vs/MethodsSelectorsAndAttributes/v16/Server/sqlite3/db.lock
/IntroductionInRazor/.vs/IntroductionInRazor/v16/Server/sqlite3/db.lock
/ViewsRenderingAnalysis/.vs/ViewsRenderingAnalysis/v16/Server/sqlite3/db.lock
/WorkWithModel/.vs/WorkWithModel/v16/Server/sqlite3/db.lock
