@page
@model RazorPages.Pages.App.AddPostModel
@{
    ViewData["Title"] = "AddPost";
}

<h1>Add new post</h1>

<form method="post">
    <input type="text" asp-for="@Model.ImageUrl" placeholder="Image URL"/>
    <br />
    <textarea asp-for="@Model.Description" placeholder="Description"></textarea>
    <br />
    <input type="submit" value="Add"/>
</form>