@{
    ViewBag.Title = "Index";
    var posts = ViewData["Posts"] as List<IntroductionInRazor.Models.Post>;
}

<h2>The WALL</h2>

<form>
    <h3>Write Message:</h3>
    <input style="margin-bottom: 10px;" type="text" id="author" placeholder="Your name" />
    <br />
    <textarea type="text" id="message" placeholder="Your message"></textarea>
    <br />
    <button>Send</button>
</form>

<div id="posts">
    @foreach (var post in posts)
    {
        <div>
            <h3>@post.Author:</h3>
            <p>@post.Text</p>
        </div>
    }
</div>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script>
    $('button').on('click', function(e) {
        e.preventDefault();
        $.ajax({
            url: "SaveData",
            type: 'post',
            data: {
                author: $('#author').val(),
                text: $('#message').val()
            },
            complete(response) {
                console.log(response);
                update();
            }
        })
    });

    function update() {
        $.get({
            url: "GetData",
            success(response) {
                console.log(response);
                $("#posts").html('');
                for (var i = 0; i < response.length; i++) {
                   $('#posts').prepend($(`<div><h3>${response[i].Author}:</h3>
                                         <p>${response[i].Text}</p></div>`));
                }
            }
        });
    }
    $(window).on("load", update);

    setInterval(update, 10000);
</script>
