@model WorkWithModel.ViewModels.UserAuthorizationViewModel

@{
    ViewBag.Title = "Authorization";
}

<h2>Authorization</h2>

@using(Html.BeginForm("CredentialsCheck", "Admin"))
{
    <div class="form-group">
        @Html.DisplayNameFor(model => model.UserName)
        @Html.EditorFor(model => model.UserName)
    </div>

    <div class="form-group">
        @Html.DisplayNameFor(model => model.Password)
        @Html.EditorFor(model => model.Password)
    </div>

    <input type="submit" value="Sign in" />
}

